.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: black;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
    /* border: solid; */
}

/* .logo .img {
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 900;
    filter: invert();
} */

.logo .cart {
    color: var(--white-color);
    font-size: 25px;
    text-shadow: 2px 2px 3px black;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white-color);
    text-shadow: 1px 1px 3px black;

}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0px;
    /* border: solid; */
}

.nav__item a {
    color: var(--white-color);
    font-weight: 500;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;

}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.nav__icons span i {
    font-size: 1.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.cart__icon,
.fav__icon {
    position: relative;

}

.hicon {
    text-shadow: 1px 1px 1px black;

}

.fav__icon img {
    border-radius: 50%;
}

.badge {
    position: absolute;
    top: 25%;
    right: -8%;
    content: '';
    width: 17px;
    height: 17px;
    box-shadow: 1px 1px 3px black;
    background: rgb(255, 251, 0);
    color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: 800;
    z-index: 10;
}



.nav__icons .profile img {
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    /* box-shadow: 1px 1px 10px #e7844b; */
}

.nav__icons .profile {
    position: relative;
    z-index: 9;
}

.nav__icons .profile .profile__actions {
    position: absolute;
    top: 98%;
    left: -53px;
    width: 150px;
    z-index: 10;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--white-color);
    line-height: 30px;
    display: none;
    cursor: pointer;
    color: #f85606;
    font-weight: 700;
    text-shadow: 1px 1px 0px #7a7a7a;
}

.show__profileActions {
    display: block !important;
    box-shadow: 6px 6px 9px #000000;
    border-radius: 14px;
    margin-top: 10px;
}

.mobile__menu {
    font-size: 1.3rem;
    color: var(--primary-color);
    display: none;
}

.nav__active {
    font-weight: 800 !important;

}

.stick__header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 990;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: black;
    /* text-shadow: 2px 2px 4px rgb(243, 4, 4); */
}

.stick__header h1 {
    text-shadow: 3px 3px 2px #f85606;
}

@media only screen and (max-width:768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 9999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .active__menu {
        display: block;
    }

    .logo h1 {
        font-size: 1rem;
    }

    .logo img {
        width: 1rem;
        height: 1rem;
    }

    .fav__icon i,
    .cart__icon i {
        font-size: 1.2rem !important;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu span i {
        font-size: 1.1rem !important;
    }

    .nav__icons span img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
}